.exp {
  display: flexbox;
  flex-direction: column;
  margin: 20px auto;
  width: 80%;
}
.projectList {
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
  row-gap: 40px;
  justify-content: space-around;
}

.project {
  display: block;
  max-width: 500px;
  background-color: red;
  border-radius: 12px;
  overflow: hidden;
  z-index: 0;

  &::before {
    z-index: 0;
    content: " ";
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
    top: -10px;
    right: 0px;
    background-color: #00838d;
    border-radius: 0 0 0 12px;
  }

  &:hover {
    .projectTitle {
      color: black;
      transition: color 500ms linear;
    }
    .description {
      color: black;
      transition: color 500ms linear;
    }
  }
}

.projectTitle {
  font-weight: bold;
  font-size: 24px;
}

.go-corner {
  position: relative;
  width: 48px;
  height: 48px;
  left: 91%;
  top: -15%;
  justify-self: center;
  align-self: center;
  background-color: #00838d;
  border-radius: 0 0 0 12px;
}

.go-arrow {
  position: relative;
  top: 30%;
  left: 25%;
  color: white;
  font-family: courier, sans;
}
