#projectsPage {
  display: flexbox;
  flex-direction: column;
  margin: 20px auto;
  width: 80%;
}
.projectList {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  justify-content: space-around;
}

.project {
  display: block;
  max-width: 500px;
  border-radius: 12px;
  overflow: hidden;
  background-color: wheat;
  z-index: 0;

  &::before {
    z-index: -1;
    content: " ";
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
    left: 94%;
    top: 0;
    background-color: #f96d00;
    border-radius: 0 0 0 12px;
    transition: transform 500ms ease-in;
  }

  &:hover {
    &::before {
      transform: scale(45);
    }
    .projectTitle {
      color: #f2f2f2;
      transition: color 1000ms ease-out;
    }
    .description {
      color: #f2f2f2;
      transition: color 1000ms ease-out;
    }
  }
}

.projectTitle {
  padding-right: 30px;
  margin-top: -45px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.description {
  width: 90%;
  margin-top: 5px;
  margin-left: 0px;
  margin-bottom: 35px;
  color: black;
}

.go-corner {
  position: relative;
  width: 58px;
  height: 48px;
  right: -92%;
  top: -40px;
  justify-self: center;
  align-self: center;
  background-color: #f96d00;
  border-radius: 0 0 0 12px;
}

.go-arrow {
  position: relative;
  top: 30%;
  left: 20%;
  color: white;
  font-family: courier, sans;
}

@media (max-width: 550px) {
  .go-corner {
    right: -87%;
    top: -35px;
  }
  .go-arrow {
    top: 30%;
    left: 25%;
  }
}
